@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&display=swap');


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100%;
}

body{
    background-color: rgb(230, 216, 157);
    font-size: 16px;
    display: grid;
    place-items: center;
}

.container{
    width: 500px;
    height: 500px;
    background-color: white;;
    border: 2px solid black;
    font-family: Roboto, Arial, sans-serif;
    position: relative;

    span{
        margin: 2rem;
        color: red;
    }

    fieldset{
        border: none;
        width: 80%;
        display: grid;
        margin: 2rem;
    }
    .question-header{
        margin: 1rem;
    }

    .question-description{
        margin: 0 1rem;
        font-family: Koulen, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .selection{
        margin-bottom: 1rem;
    }

    .d-none{
        display: none;
    }

    #next{
        margin-top: 1rem;
        height: 2rem;
        width: 5rem;
        position: absolute;
        top: 70%;
        left: 75%;

        &:hover{
            cursor: pointer;
        }
    }

    #prev{
        margin-top: 1rem;
        height: 2rem;
        width: 5rem;
        position: absolute;
        top: 70%;
        left: 10%;
    }
   
}
